@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body{
 background-color: #c24c28;
}
.container{
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}
.espacio{
    height: max-content;
    margin: 0px;
}

.contenedor2{
    font-family: Montserrat;
    border-top: 10px solid #c24c28;
    display: flex;
    justify-content: center;
}
.contenedor1{
    background-color: whitesmoke;
    width: 90%;
}

.novedades{
    padding: 1%;
    padding-left: 2%;
}

.novedades img{
    padding: 1%;
    max-width: 100%;
    width: fit-content;
}

.cuerpo{
    font-size: small;
}