@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.contfooter{
    height: auto;
    display: flex;
    align-items: center;
}

footer{
    padding: 1%;
    padding-left: 5%;
    clear: both;
}

footer p{
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    margin: 0;
    font-family: Montserrat;

}